<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Food Hunter</title>
    
    <script type="text/javascript" src="/javascripts/tests/events.js"></script>
    <script type="text/javascript" src="/libs/qunit/qunit-1.12.0.js"></script>
    <link rel="stylesheet" type="text/css" href="/libs/qunit/qunit-1.12.0.css">
</head>
<body>
    <h1>TESTING EVENTS API HERE</h1>
   	<div id="qunit"></div>
  	<div id="qunit-fixture"></div>
  	<script type="text/javascript" src="/javascripts/tests/events.js"></script>
    <script type="text/javascript" src="/libs/qunit/qunit-1.12.0.js"></script>
</body>

</html>