<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Food Hunter</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/tests/locations.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h1>TESTING LOCATIONS API HERE</h1>
</body>

</html>