<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Food Hunter</title>
    
<script type="text/javascript" src="/javascripts/tests/locations.js"></script>
    <script type="text/javascript" src="/libs/qunit/qunit-1.12.0.js"></script>
    <link rel="stylesheet" type="text/css" href="/libs/qunit/qunit-1.12.0.css"></head>
</head>
<body>
    <h1>TESTING Subscription API HERE</h1>
</body>

</html>