<!DOCTYPE html>
<html>
<head>
    <title>Edit Food Event</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    
    <link rel="stylesheet" href="/libs/timepicker/jquery.timepicker.css">
    <script src="/libs/timepicker/jquery.timepicker.min.js"></script>
    
    <script type="text/javascript" src="/javascripts/details.js"></script>
    
</head>
<body>
    <h2>View/Edit Event</h2>
    <form id="form_event_details">
        <p>Date: <input type="text" name="date"></p>
        <p>Start time: <input type="text" name="time_start"></p>
        <p>End time: <input type="text" name="time_end"></p>
        <p>Host: <span name="host"></span></p>
        Location: <span name="location"></span></select>
        <p>Description:</p>
        <p><textarea name="description" rows=5 cols=50></textarea></p>
        <input type="submit" name="submit" value="Submit">
        <input type="submit" name="close" value="Close">
    </form>

</body>

</html>