<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Food Hunter</title>
    
    <link rel="stylesheet" href="/stylesheets/eventfeed.css">
    <script type="text/javascript" src="/javascripts/eventfeed.js"></script>
</head>
<body>
    <div id="all_events">
        <h2>Upcoming Events</h2>
        <div id="events_list">
        </div>
    </div>

</body>

</html>