<!DOCTYPE html>
<html>
<head>
    <title>Welcome to <%=title%></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    
    <h1><%=title%></h1>
    
    <%for (var i = 0; i < locs.length; i++) {%> 
        <p><%=locs[i].name + ", (" + locs[i].gps.lat + ", " + locs[i].gps.lon + "), Building #" + locs[i].building%></p>
    <%}%>
    
</body>

</html>