<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Food Hunter</title>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    
    <link rel="stylesheet" href="/libs/timepicker/jquery.timepicker.css">
    <script src="/libs/timepicker/jquery.timepicker.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
   <%- body %>
</body>

</html>