<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Food Hunter</title>
    
    <script type="text/javascript" src="/javascripts/login.js"></script>
    
</head>
<body>
    <h2>Login</h2>
    <form id="form_login">
        <input type="text" name="kerberos" placeholder="Enter Kerberos ID">
        <input type="submit" value="Login">
    </form>


    <h3>Test Scripts</h3>
    <ul id="tests_list">
        <li><a href="tests/locations">Locations API</a></li>
        <li><a href="tests/events">Events API</a></li>
        <li><a href="tests/users">Users API</a></li>
        <li>Subscriptions API</li>
    </ul>
</body>

</html>