<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Food Hunter</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    
    <script type="text/javascript" src="/javascripts/login.js"></script>
    
</head>
<body>
    <h2>Login</h2>
    <form id="form_login">
        <input type="text" name="kerberos" placeholder="Enter Kerberos ID">
        <input type="submit" value="Login">
    </form>
</body>

</html>