<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Food Hunter</title>
    
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    
    <link rel="stylesheet" href="/libs/timepicker/jquery.timepicker.css">
    <script src="/libs/timepicker/jquery.timepicker.min.js"></script>
    
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
    
    <script type="text/javascript" src="/javascripts/map.js"></script>

</head>
<body>
    
    <h1>Food Hunter</h1>
    <h2>Logged in as <%=kerberos%></h2>
    
    <div id="my_events_container">
        <h2>My Events</h2>
        <ul>
        </ul>
    </div>
    <div id="map"></div>
    <div id="add_event_container">
        <h2>Add event</h2>
        <form id="form_add_event">
            <p>Date: <input type="text" name="date">
            Start time: <input type="text" name="time_start">
            End time: <input type="text" name="time_end"></p>
            Location: <select class="location" name="location"></select>
            <p>Description:</p>
            <p><textarea name="description" rows=5 cols=50></textarea></p>
            <input type="submit" value="Add Event">
        </form>
    </div>
    
    
    <div id="subscribe_container">
        <h2>Subscribe</h2>
        <!-- <form id="form_subscribe" method = "post" action="/subscriptions/subscribe"> -->
        <form id="form_subscribe">
            <p class="subscription">Location: <select class="location" name="location"></select>
                Time Block: <select name="time">
                    <option value=0>12AM - 6AM</option>
                    <option value=1>6AM - 12PM</option>
                    <option value=2>12PM - 6PM</option>
                    <option value=3>6PM - 12AM</option>
                </select></p>
            <button id="add_subscription">Add More</button>
            <input type="submit" value="Subscribe">
            <!-- <a href="/subscriptions/subscribe">Subscribe</a> -->
        </form>
    </div>
    

</body>

</html>