<!DOCTYPE html>
<html>
<head>
    <title>Welcome to <%=title%></title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/map.css">
</head>
<body>
    <p> 
        {"host":"test2"}
    </p>
    <form id = "testevent" method = "post" action = "/testevent">
        <input id="testAdd" type="text" name="newEvent">
    </form>
    
</body>

</html>