<!DOCTYPE html>
<html>
<head>
    <title>Welcome to <%=title%></title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/map.css">
</head>
<body>
    <%var l = allEvents.length%>
    <%for (var i=0; i< l; i++){%>
    <p><%=allEvents[i]%></p>
    <%}%>
    <form id = "testevent" method = "post" action = "/events/">
        <label>Host</label>
        <input id="testAdd" type="text" name="host">
        <label>StartTimeHour</label>
        <input id="testAdd" type="text" name="startTimeHour">
        <label>StartTimeMin</label>
        <input id="testAdd" type="text" name="startTimeMin">
        <label>Date</label>
        <input id="testAdd" type="text" name="date">
        
        <button type = "submit"> Create event</button>
    </form>

    
</body>

</html>