<!DOCTYPE html>
<html>
<head>
    <title>Welcome to <%=title%></title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/map.css">
</head>
<body>
    <p><%=allEvents%></p>
    <form id = "testevent" method = "post" action = "/events/">
        <label>StartTime</label>
        <input id="testAdd" type="text" name="startTime">
        <label>EndTime</label>
        <input id="testAdd" type="text" name="endTime">
        <label>Date</label>
        <input id="testAdd" type="text" name="date">
        <button type = "submit"> Create event</button>
    </form>

    
</body>

</html>