
.bcgr{
	background: #C8EDBB;
}

#map {
    width: 700px;
    height: 500px;
    margin-bottom: 30px;
    margin-right: 30px;

}

#all_events, #my_events_container, #my_subs_container{
	overflow: auto;
	max-height:  150px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.adders{
	border-radius: 10px;
	border: 1px solid black;
	height: 450px;
}

.forms_container{
	margin-left:15px;
	margin-right:50px;
}
.location{
	max-width: 300px;
}

#form_add_event {
    max-width: 50px;

}
.btn {
	margin: 5px;
}

.form-control{
	width: 60%;
}
#time{
	width: 10px;
}
#map_slider{
	width:700px;
}
h3{
	margin: 5px;
	padding:0px;
}
