#map {
    width: 700px;
    height: 500px;
    margin-bottom: 30px;
    margin-right: 30px;



}
#related_events{
	overflow: auto;
	height: 600px;
}

.bcgr{
background: rgb(224,243,250); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(224,243,250,1) 0%, rgba(216,240,252,1) 26%, rgba(216,240,252,1) 26%, rgba(184,226,246,1) 68%, rgba(182,223,253,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(224,243,250,1)), color-stop(26%,rgba(216,240,252,1)), color-stop(26%,rgba(216,240,252,1)), color-stop(68%,rgba(184,226,246,1)), color-stop(100%,rgba(182,223,253,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 26%,rgba(216,240,252,1) 26%,rgba(184,226,246,1) 68%,rgba(182,223,253,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 26%,rgba(216,240,252,1) 26%,rgba(184,226,246,1) 68%,rgba(182,223,253,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 26%,rgba(216,240,252,1) 26%,rgba(184,226,246,1) 68%,rgba(182,223,253,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(224,243,250,1) 0%,rgba(216,240,252,1) 26%,rgba(216,240,252,1) 26%,rgba(184,226,246,1) 68%,rgba(182,223,253,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#form_add_event input[type="text"] {
    width: 80px;
}
.btn {
	margin: 5px;
}
.form-control{
	width: 60%;
}
#time{
	width: 10px;
}
#map_slider{
	width:700px;
}