#map {
    width: 800px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#my_events_container {
    float: right;
    width: 300px;
}

#form_add_event input[type="text"] {
    width: 80px;
}